################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/clinic-backend/.vs/
/clinic-backend/Clinic.WebAPI/bin/
/clinic-backend/Clinic.WebAPI/obj/
/clinic-backend/Clinic.WebAPI/logs/
